.nav-menu {
  margin-left: 35px;
}

.svg-border-bottom {
  border-bottom: 3px solid #0078B7;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 15px;
}

.btn-position {
  position: relative;
  bottom: 30px;
}

.next-step-btn {
  margin-top: -15px;
}