.freq-style {
  background-color: #0078B7;
}

.freq-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.border-outline{
  outline: 3px solid #9cc2fe;
}